<!DOCTYPE html>
<html>
    <head>
        <title>Add Education</title>
    </head>
    <body>
        <form action="#" method='POST'>
            Enter UofC Course Taken: <br>
            Department code: <input type="text" name="depCode"><br>
            Course code: <input type="text" name="courseCode"><br>
            Grade: <input type="text" name="grade"><br>
            <label for="season"> Season: </label>
            <select name="season" id="season">
                <option value="Fall">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring">Spring</option>
            </select>
            <br>    
            Year: <input type="text" name="year"><br>
            <input type="submit" name="submitcourse"><br>
        </form>
    </body>
</html>