<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Course</title>
  </head>
  <body>
    <form action="findCourse" method="get">
      <button type="submit" name="course" value="courseCode" class="btn-link">Find by course code</button>
    </form>
    <form action="findDepartmentCourses" method="get">
      <button type="submit" name="course" value="depCode" class="btn-link">Find all department courses</button>
    </form>
    <form action="courseList" method="get">
      <button type="submit" name="course" value="courseList" class="btn-link">See course list</button>
    </form>
  </body>
</html>