<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule Edit</title>
  </head>
  <body>
    Editing Schedule: <br>
    <form action="#" method="post">
        <button type="submit" name="modifySchedule" value="displaySchedule" class="btn-link">Display Schedule</button>
    </form>
    <form action="#" method="post">
        <button type="submit" name="modifySchedule" value="deleteSchedule" class="btn-link">Delete Schedule</button>
    </form>
    <form action="#" method="post">
        <button type="submit" name="modifySchedule" value="addCourse" class="btn-link">Add Course</button>
    </form>
    <form action="#" method="post">
        <button type="submit" name="modifySchedule" value="deleteCourse" class="btn-link">Delete Course</button>
    </form>
    <form action="#" method="post">
        <button type="submit" name="modifySchedule" value="displayGUI" class="btn-link">Display GUI</button>
    </form>
</body>
</html>
