<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UofC Login</title>
  </head>
  <body>
    You are logged in: <br>
    <form action="#" method="post">
      <button type="submit" name="loggedIn" value="addNonUofCEducation" class="btn-link">Add Previous Non-UofC Education</button>
    </form>
    <form action="#" method="post">
      <button type="submit" name="loggedIn" value="addUofCCourse" class="btn-link">Add Previous UofC Course</button>
    </form>
    <form action="#" method="post">
      <button type="submit" name="loggedIn" value="displayPastUofCCourses" class="btn-link">Display Past UofC Courses</button>
    </form>
    <form action="#" method="post">
      <button type="submit" name="loggedIn" value="deleteCourse" class="btn-link">Delete Course</button>
    </form>
    <form action="#" method="post">
      <button type="submit" name="loggedIn" value="scheduler" class="btn-link">Scheduler</button>
    </form>
  </body>
</html>