<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Course</title>
  </head>
  <body>
    <form action="programAccreditations" method="get">
      <button type="submit" name="program" class="btn-link">Find program accreditations</button>
    </form>
    <form action="facultyPrograms" method="get">
      <button type="submit" name="program" class="btn-link">Find faculty programs</button>
    </form>
    <form action="programList" method="get">
      <button type="submit" name="program" class="btn-link">See program list</button>
    </form>
  </body>
</html>