<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scheduler</title>
  </head>
  <body>
    Scheduler: <br>
    <form action="#" method="post">
         <button type="submit" name="scheduler" value="makeNewSchedule" class="btn-link">Make New Schedule</button>
         <label for="newSchedule">Schedule Name: </label>
         <input type="text" name="newSchedule"><br>
    </form>
    <form action="#" method="post">
        <button type="submit" name="scheduler" value="existingSchedule" class="btn-link">Existing Schedule</button>
        <label for="existingSchedule">Schedule Name: </label>
        <input type="text" name="existingSchedule"><br>
    </form>
</body>
</html>
